/* Genel Sayfa Stili */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigasyon Menüsü */
nav {
    background-color: red; /* Arka plan rengi kırmızı */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li.right {
    float: right; /* Sağ tarafa hizalanan öğeler */
}

nav li a {
    display: block;
    color: white; /* Yazı rengi beyaz */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Alt çizgi yok */
}

nav li a:hover {
    background-color: #111; /* Üzerine gelindiğinde arka plan rengi koyu gri */
}

/* İçerik Alanı */
#content {
    padding: 20px;
}

/* Tablo Stili */
table {
    border-collapse: collapse; /* Hücre kenarlarını birleştirir */
    width: 100%;
}

th, td {
    border: 1px solid #ddd; /* Hücre kenarları */
    padding: 8px;
    text-align: left; /* Metin sola hizalı */
}

th {
    background-color: #f2f2f2; /* Başlık hücrelerinin arka plan rengi açık gri */
}

/* Modal Penceresi Stili */
.modal {
    display: none; /* Başlangıçta gizli */
    position: fixed; /* Ekranda sabit pozisyon */
    z-index: 1; /* Üstte görünmesini sağlar */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Taşma durumunda kaydırma çubuğu ekler */
    background-color: rgba(0,0,0,0.4); /* Yarı saydam siyah arka plan */
}

.modal-content {
    background-color: #fefefe; /* Modal içeriği beyaz arka plan */
    margin: 15% auto; /* Ortada hizalama */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Genişlik %80 olacak şekilde ayarlanmış */
}

/* Modal Kapatma Butonu Stili */
.close {
    color: #aaa; /* Kapatma butonunun rengi gri */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; /* Üzerine gelindiğinde siyah olur */
}

/* Flash Mesajları Stili (Başarı, Hata, Bilgi) */

.flash-messages {
    list-style-type: none; /* Liste işaretleri yok */
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
}

/* Flash Mesajlarının Sabit Pozisyonu ve Görünümü */

.flash-message {
    position: fixed;   /* Sayfanın üst kısmına sabitlenmiş pozisyon */
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Yatayda tam ortalama */
}

/* Başarı Mesajı Renkleri (Yeşil)*/
.flash-message.success {
   background-color:#4CAF50 ; 
}

/* Hata Mesajı Renkleri (Kırmızı)*/
.flash-message.error{
	background-color:#f44336 ;
}
/* Bilgi Mesajı Renkleri(Mavi)*/
.flash-message.info{
	background-color:#2196F3 ;
} 
